---
layout: default
title: how clipping path service
---
<section class="accordianSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">

                <h3 class="collapHead">faq</h3>
                <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How would I pay Cambridge Image Clipping?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                It is not paramount to pay before the work done. From the get go you expect your finished work and make some seeing on it. At that point on the off chance that you content with the finished work, we will send you a receipt with all the subtle elements. Our adequate installment strategies are Paypal, Mastercard, Visa, Bank Transfer.
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you maintain how the Quality Control?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Yes, beyond any doubt, we’ve committed Quality Control Department to check picture for its quality. We don’t convey any single picture without.
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What! If I’m not happy with a finished photo?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Yes! It’s a decent question about the finished employments. Be that as it may it is extremely uncommon of discussing our work. Since, we move ahead your work by exceedingly gifted DTP experts. On the off chance that, on the off chance that you discover any issue with our work please guarantee us with composing an email 
                                without a moment’s delay and we will watch and exertion our better than fix it inside the length of time without additional expense. Nonetheless, on the off chance that you still not fulfilled by the work we did. We don’t charge you for anything.
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What will be the configuration of the finished documents?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Contingent upon your solicitation, we can convey the work in any organization. We’ll convey you the same arrangement unless you request any specific organization. Basically let us know your wanted configuration and it won’t be a major ordeal.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What are the filetpyes/designs you acknowledge?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                Contingent upon your solicitation, we can convey the work in any organization. We’ll convey you the same arrangement unless you request any specific organization. Basically let us know your wanted configuration and it won’t be a major ordeal.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingsix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                    To what extent it will accept my business to be done?
                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                            <div class="panel-body">
                                It relies on upon the work’s amount and picture many-sided quality. We generally take 12 -16 hours to finish the employment. On the off chance that we need further times to be finished the occupation, we will educate you.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingseven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                    In what capacity would I be able to get a citation and when will be the answer?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                            <div class="panel-body">
                                It’s truly simple to land cited about the position you need to place. Simply utilize our Free Trial structure, top them off and send your pictures with the guideline. Truly we will answer inside a brief time at the earliest opportunity.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingeight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapsesix">
                                    Are the pictures secured in your grasp?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                            <div class="panel-body">
                                Don’t stress! Everything happens in the middle of we and you is exceedingly private. No chance, we’ll unveil the pictures to anybody. All our workers sign non-exposure understanding. We have extraordinary efforts to establish safety to secure our machines from malware and infections.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingnine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                    What will be the arrangement of the finished documents?
                                </a>
                            </h4>
                        </div>
                        <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnine">
                            <div class="panel-body">
                                Contingent upon your solicitation, we can convey the work in any configuration. We’ll convey you the same organization unless you request any specific configuration. Basically let us know your sought organization and it won’t be a major ordeal.
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->

                </div>
            </div>
        </div>
    </div>
</section>
{% include sec_discuss.html %}
{% include sec_signup.html %}