---
layout: default
title: home
---
{% include slide.html %}

<!--satart about section-->

{% include about.html %}

<!--end about section-->

<!--start welcome section-->

{% include welcome.html%}

<!--end welcome section-->

<!--start gellary section-->
<section class="gallerysection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="gellaryTitle text-center">
                    <h1>our gallery</h1>
                    <p>some amazing stuff from our campus</p>
                    <i class="fa fa-home"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="gallaryItem">
                    <img src="./assets/images/g1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--end  gellary section-->
