---
layout: default
title: home
---
{% include slide.html %}

<!--satart about section-->

{% include about.html %}

<!--end about section-->

<!--start welcome section-->

{% include welcome.html%}

<!--end welcome section-->
{% include benefits.html %}
<!--start benefitSection-->

<!--end benefitSection-->

<!--start benefit list section-->
{% include benefit_list.html %}
<!--end benefit list Section-->

<!--start benefits_featureflow Section-->
{% include fature_flow.html %}
<!--end benefits_featureflow Section-->

<!-- start feature menu-->
{% include feature_menu.html %}
<!-- end feature menu-->

<!--start fearure service1-->
{% include feature_service1.html %}
<!--end fearure service1-->


<!--feature service2 start-->
{% include feature_service2.html %}
<!--feature service2 end-->

<!--feature service3 start-->
{% include feature_service3.html %}
<!--feature service3 end-->

<!--feature service2 start-->
{% include feature_service4.html %}
<!--feature service2 end-->

<!--feature service2 start-->
{% include feature_service5.html %}
<!--feature service2 end-->

<!--feature team start-->
{% include feature_team.html %}
<!--feature team end-->

<!--gallery section start-->
{% include gallary.html %}
<!--gallery section end-->