/*===================start Top header===========*/
.MobileMenu1 {
  cursor: pointer !important;
  display: block;
  height: 26px;
  line-height: 0.2;
  width: 30px;
  position: absolute;
  top: 13px;
  right: 17px;
  z-index: 9999; }
  .MobileMenu1 span {
    background: #000;
    display: inline-block;
    height: 2px;
    width: 100%; }

.featureMenufixed {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
  left: 0;
  top: 63px;
  transition: all ease 500ms;
  box-shadow: 1px 0px 3px #ddd; }
  .featureMenufixed ul li a img {
    display: none; }

.headerMenufixed {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 999;
  left: 0;
  padding: 9px 0;
  top: 0;
  background: #fafafa;
  box-shadow: 1px 0px 3px #ddd; }

.headerTop {
  position: relative;
  width: 100%;
  height: auto;
  background: #174873;
  padding: 7px 0;
  margin-bottom: 83px; }

.mainItemHeader {
  margin-left: 78px; }

.headerInfo {
  position: relative; }
  .headerInfo p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: .5px; }
    .headerInfo p i {
      font-family: "fontAwesome"; }
      .headerInfo p i span {
        font-weight: 400 !important;
        font-family: 'Open Sans', sans-serif; }

.headerInformation {
  position: relative;
  float: left;
  margin-right: 10px; }
  .headerInformation i {
    color: #fff; }
    .headerInformation i span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: .5px; }

.headerInformation.headerInformation1 {
  position: relative; }
  .headerInformation.headerInformation1 i {
    margin-right: 5px; }

/*-----------------------header top end-----------*/
/*-----------------------header menu start-----------*/
.headerMenu {
  padding: 26px 0;
  left: 0;
  top: 32px;
  width: 100%;
  height: auto;
  z-index: 111;
  position: absolute;
  background: #fff; }
  .headerMenu .logo1 {
    width: 100%;
    height: auto;
    overflow: hidden; }
    .headerMenu .logo1 img {
      width: 100%;
      height: 100%; }
  .headerMenu .mainMenu {
    position: relative; }
    .headerMenu .mainMenu ul li {
      display: inline-block;
      margin-right: 14px;
      margin-top: 9px;
      padding-bottom: 15px;
      cursor: pointer;
      position: relative; }
      .headerMenu .mainMenu ul li a {
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        color: #174873;
        text-decoration: none;
        transition: all ease 600ms;
        -moz-transition: all ease 600ms;
        -webkit-transition: all ease 600ms;
        -o-transition: all ease 600ms;
        padding-bottom: 20px; }
        .headerMenu .mainMenu ul li a:hover {
          color: #E79800;
          border-bottom: 2px solid #E79800; }
    .headerMenu .mainMenu .serText {
      padding: 6px;
      display: none;
      position: absolute;
      right: 20px;
      top: 30px;
      box-shadow: 0 0 12px #ddd; }
    .headerMenu .mainMenu .userBox {
      background: #f1f1f1;
      width: 250px;
      padding: 20px;
      text-align: left;
      position: absolute;
      right: 0;
      top: 63px;
      z-index: 1;
      height: auto;
      display: none; }
      .headerMenu .mainMenu .userBox .usern {
        font-size: 14px;
        text-transform: uppercase; }
      .headerMenu .mainMenu .userBox .usBtn {
        padding: 12px 0; }
      .headerMenu .mainMenu .userBox .uname {
        font-size: 14px;
        font-weight: 400;
        padding: 6px;
        margin-bottom: 12px; }
      .headerMenu .mainMenu .userBox a {
        font-size: 12px;
        border: 1px solid #ddd;
        margin-right: 12px;
        background: #174873;
        padding: 5px 10px;
        color: #fff;
        border-radius: 4px;
        text-transform: capitalize; }
    .headerMenu .mainMenu ul li:last-child {
      margin-right: 0 !important; }
    .headerMenu .mainMenu .submenu {
      position: absolute;
      left: 0;
      top: 80px;
      width: 167px;
      height: auto;
      display: block;
      background: #fff;
      visibility: hidden;
      color: #333;
      opacity: 0;
      transition: all ease 500ms;
      z-index: 1;
      padding-bottom: 12px; }
    .headerMenu .mainMenu li:hover .submenu {
      visibility: visible;
      opacity: 1;
      top: 55px; }
    .headerMenu .mainMenu .submenu li {
      padding: 12px 0 0 30px;
      display: block;
      text-align: left;
      width: 100%;
      height: auto; }
      .headerMenu .mainMenu .submenu li a {
        text-transform: uppercase;
        font-size: 14px;
        border: none !important; }

/*===========================end header menu=======================*/
/*===========================start footer=======================*/
.footer {
  position: relative;
  width: 100%;
  padding: 50px 0 70px;
  background: url(../images/footer.jpg) no-repeat center center/cover; }
  .footer:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: rgba(0, 0, 0, 0.9); }

.leftWidget {
  position: relative;
  float: left;
  margin-right: 20px; }
  .leftWidget h2 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 32px;
    position: relative; }
    .leftWidget h2:before {
      width: 40px;
      height: 3px;
      background: #fff;
      content: '';
      position: absolute;
      left: 0;
      top: 37px; }
  .leftWidget p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 24px; }

.fowidgetmenu {
  position: relative;
  float: left;
  margin-right: 42px; }
  .fowidgetmenu a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms; }
    .fowidgetmenu a:hover {
      color: #E79800; }

.leftWidget22 {
  margin-top: 50px; }

.officehour li {
  list-style: none;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  line-height: 25px;
  margin-bottom: 9px; }

.footerRightWidget {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }
  .footerRightWidget .FooIcon {
    width: 20%;
    height: auto;
    float: left; }
    .footerRightWidget .FooIcon i {
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      padding: 11px; }
  .footerRightWidget .FooIcon1 i {
    padding: 11px 16px; }
  .footerRightWidget .addInfo {
    width: 77%;
    height: auto;
    float: left;
    color: #fff;
    margin-left: 7px; }
    .footerRightWidget .addInfo h4 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 19px;
      margin-bottom: 7px; }
    .footerRightWidget .addInfo p {
      font-size: 13px;
      font-weight: 400;
      line-height: 22px; }

.headerInformation.footericon {
  position: relative;
  margin-top: 15px; }
  .headerInformation.footericon:before {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -13px;
    content: ''; }
  .headerInformation.footericon label {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px; }
  .headerInformation.footericon i {
    margin-right: 10px; }
    .headerInformation.footericon i:hover {
      color: #E79A5F !important; }

/*-------------------footer bottm start-------------*/
.footerBootm {
  position: relative;
  width: 100%;
  height: auto;
  background: #2F2F2F;
  padding: 12px; }
  .footerBootm .foBottmcont {
    position: relative; }
    .footerBootm .foBottmcont p {
      color: #fff;
      font-size: 14;
      line-height: 25px;
      font-weight: 400;
      margin-top: 6px; }
      .footerBootm .foBottmcont p a {
        color: #E79A5F; }
  .footerBootm .mainMenu.footerMenu ul li {
    display: inline-block;
    margin-right: 5px; }
    .footerBootm .mainMenu.footerMenu ul li a {
      text-transform: capitalize;
      color: #fff;
      border: none; }
      .footerBootm .mainMenu.footerMenu ul li a:hover {
        color: #E79A5F; }

/*--------------------------start slider----------------*/
.sliderSec {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .sliderSec .carousel-control span {
    position: absolute;
    left: 0;
    top: 255px;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'fontawesome';
    font-size: 30px; }
  .sliderSec .slideContent {
    position: absolute;
    left: 0;
    top: 160px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    display: block; }
    .sliderSec .slideContent h1 {
      font-size: 48px;
      font-weight: 700;
      color: #E79800;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 56px; }
    .sliderSec .slideContent p {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 36px; }
    .sliderSec .slideContent a {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 28px;
      background: #174873;
      transition: all ease 500ms; }
      .sliderSec .slideContent a:hover {
        background: #E79800;
        border-color: #E79800; }

/*----------------------end slider----------------*/
/*----------------------start about us-------------*/
.aboutUs {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0; }
  .aboutUs .abImg {
    width: 100%;
    height: auto; }
    .aboutUs .abImg img {
      width: 100%;
      height: 100%; }
  .aboutUs .abContent {
    position: relative;
    width: 100%; }
    .aboutUs .abContent h1 {
      font-size: 33px;
      font-weight: 700;
      color: #174873;
      line-height: 56px;
      text-transform: uppercase; }
      .aboutUs .abContent h1 span {
        color: #E79800; }
    .aboutUs .abContent h4 {
      font-size: 18px;
      font-weight: normal;
      text-transform: capitalize;
      color: #2F2F2F;
      letter-spacing: 1px;
      line-height: 22px;
      margin-bottom: 12px; }
    .aboutUs .abContent p {
      color: #5d5d5d;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 20px; }
    .aboutUs .abContent a {
      background: #174873 none repeat scroll 0 0;
      border-radius: 4px;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      padding: 15px 20px;
      text-transform: uppercase;
      transition: all ease 500ms; }
      .aboutUs .abContent a:hover {
        background: #E79800; }

/*------------------end about---------------*/
/*-------------------start welcome------------*/
.wcSingleItem {
  background: url(../images/courses.jpg) no-repeat center center/cover;
  position: relative;
  width: 100%;
  padding: 50px;
  height: auto; }
  .wcSingleItem:before {
    width: 100%;
    height: 100%;
    background: rgba(19, 104, 170, 0.8);
    content: '';
    position: absolute;
    left: 0;
    top: 0; }
  .wcSingleItem .wcSingleContent {
    position: relative; }
    .wcSingleItem .wcSingleContent h2 {
      font-size: 24px;
      color: #fff;
      text-align: center !important;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 36px;
      margin-bottom: 12px; }
    .wcSingleItem .wcSingleContent p {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 15px; }
    .wcSingleItem .wcSingleContent .no-bullet li {
      color: #fff;
      margin-left: 8px;
      line-height: 22px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 12px; }
    .wcSingleItem .wcSingleContent .wcBtn {
      margin-top: 30px; }
      .wcSingleItem .wcSingleContent .wcBtn a {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 12px 20px;
        transition: all ease 500ms;
        border-radius: 4px; }
        .wcSingleItem .wcSingleContent .wcBtn a:hover {
          background: #e79800;
          border-color: #e79800; }

.wcSingleItem.wcSingleItem1 {
  background: url(../images/courses.jpg) no-repeat center center/cover;
  position: relative;
  width: 100%;
  padding: 50px;
  height: auto; }
  .wcSingleItem.wcSingleItem1:before {
    width: 100%;
    height: 100%;
    background: rgba(32, 79, 120, 0.9);
    content: '';
    position: absolute;
    left: 0;
    top: 0; }

/*-------------------------start gallery section-----------*/
.gallerysection {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 60px 0; }
  .gallerysection .gellaryTitle {
    position: relative; }
    .gallerysection .gellaryTitle h1 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #111;
      line-height: 46px; }
    .gallerysection .gellaryTitle p {
      font-size: 14px;
      font-weight: 400;
      color: #5D739F;
      text-transform: capitalize;
      line-height: 22px;
      margin-bottom: 8px;
      position: relative; }
      .gallerysection .gellaryTitle p:before {
        background: #F1B300 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 80px;
        top: 40px;
        width: 40px; }
      .gallerysection .gellaryTitle p:after {
        background: #F1B300 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 80px;
        margin: 0 auto;
        position: absolute;
        right: 0px;
        top: 40px;
        width: 40px; }
    .gallerysection .gellaryTitle i {
      font-size: 18px;
      color: #F1B300;
      position: relative; }
  .gallerysection .gallaryItem {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 22px; }
    .gallerysection .gallaryItem img {
      width: 100%;
      height: auto; }

/*------------------------start benefits section----------------------*/
.benefitSec {
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px 0; }
  .benefitSec .benefitsTitle {
    position: relative; }
    .benefitSec .benefitsTitle h1 {
      color: #333;
      font-size: 40px;
      font-weight: 300;
      line-height: 50px;
      margin-bottom: 60px; }
  .benefitSec .singleBenefit {
    position: relative;
    margin-bottom: 60px; }
    .benefitSec .singleBenefit img {
      width: auto;
      height: auto;
      margin-bottom: 18px; }
    .benefitSec .singleBenefit h3 {
      clear: both;
      color: #666;
      font-family: 'Lato',sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 7px; }
    .benefitSec .singleBenefit p {
      -moz-text-size-adjust: none;
      color: #888;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px; }

/*------------------------end benefits section----------------------*/
/*------------------------start benefits list----------------------*/
.benefitsListSec {
  position: relative;
  width: 100%;
  height: auto;
  background: #f5f5f5; }
  .benefitsListSec:before {
    width: 50%;
    height: 100%;
    background: url(../images/benefits_money.png) no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: ''; }
  .benefitsListSec:after {
    width: 50%;
    height: 100%;
    background: url(../images/benefits_time.png) no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: ''; }
  .benefitsListSec .mainbenefitList {
    position: relative;
    width: 100%;
    background: #fff;
    height: auto;
    z-index: 1;
    padding: 50px; }
    .benefitsListSec .mainbenefitList .benelistItem .benIcon {
      width: 10%;
      height: auto;
      float: left; }
      .benefitsListSec .mainbenefitList .benelistItem .benIcon i {
        font-size: 50px;
        font-weight: 100 !important;
        font-family: 'fontawesome';
        color: #77C177; }
    .benefitsListSec .mainbenefitList .benelistItem .benContent {
      width: 90%;
      height: auto;
      float: left; }
      .benefitsListSec .mainbenefitList .benelistItem .benContent p {
        font-size: 14px;
        font-weight: 400;
        color: #888;
        line-height: 24px; }

/*------------------------end benefits list----------------------*/
/*------------------------start benefits fature flow ----------------------*/
.benefits_featureflow {
  position: relative;
  width: 100%;
  height: auto; }
  .benefits_featureflow .benefits_featureflowStep {
    position: relative;
    width: 100%;
    height: auto; }
    .benefits_featureflow .benefits_featureflowStep a {
      color: #ddd; }
      .benefits_featureflow .benefits_featureflowStep a i {
        font-size: 40px;
        width: 100px;
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 25px;
        background: #FAFAFA;
        color: #DDDDDD; }
      .benefits_featureflow .benefits_featureflowStep a p {
        color: #666;
        display: block;
        font-family: "Lato",sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        margin-top: 10px;
        text-transform: uppercase; }
      .benefits_featureflow .benefits_featureflowStep a:hover i {
        color: #9e9e9e;
        border-color: #e0e0e0; }
  .benefits_featureflow .featureflowStep {
    position: relative;
    width: 100%;
    height: auto; }
    .benefits_featureflow .featureflowStep:before {
      background: transparent url("../images/home_featureflow_arrow.png") no-repeat scroll center center;
      content: "";
      height: 64%;
      left: 128px;
      opacity: 0.2;
      position: absolute;
      top: 0px;
      width: 100%; }

/*------------------------end benefits fature flow----------------------*/
/*------------------------feature menu start----------------------*/
.featureMenu {
  width: 100%;
  height: auto;
  background: #FAFAFA; }
  .featureMenu .mainFeatureMenu ul {
    padding: 0;
    margin: 0; }
    .featureMenu .mainFeatureMenu ul li {
      display: inline-block;
      height: auto;
      list-style: outside none none;
      width: 186px;
      padding: 30px;
      text-align: center;
      box-shadow: 0 0px 1px #ddd; }
      .featureMenu .mainFeatureMenu ul li a {
        color: #333;
        font-family: "Lato",sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;
        white-space: nowrap; }
      .featureMenu .mainFeatureMenu ul li:hover {
        background: #F5F5F5;
        box-shadow: 0 4px 0 #003366; }
    .featureMenu .mainFeatureMenu ul .active {
      box-shadow: 0 4px 0 #003366; }

/*------------------------end feature menu----------------------*/
/*------------------------start feature service1----------------------*/
.featureService1 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px; }
  .featureService1 .featureSerContent {
    position: relative; }
    .featureService1 .featureSerContent h2 {
      color: #333;
      font-size: 40px;
      font-weight: 300;
      line-height: 50px;
      padding: 0 0 40px; }
    .featureService1 .featureSerContent p {
      color: #777;
      font-size: 16px;
      line-height: 26px;
      padding-right: 88px; }
    .featureService1 .featureSerContent .serbt {
      margin-top: 30px; }
      .featureService1 .featureSerContent .serbt a {
        font-size: 14px;
        font-weight: 400;
        background: #174873;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        transition: .3s; }
        .featureService1 .featureSerContent .serbt a:hover {
          background: #E79800; }
  .featureService1 .featureSerImg {
    width: 100%;
    height: auto; }
    .featureService1 .featureSerImg img {
      width: 100%;
      height: 100%; }

/*------------------------end feature service1----------------------*/
/*------------------------start feature service2----------------------*/
.featureService2 {
  background: #F5F5F5; }

/*------------------------end feature service2----------------------*/
/*------------------------start feature team section----------------------*/
.feature-team {
  position: relative;
  width: 100%;
  height: auto;
  background: #F5F5F5;
  padding: 80px 0; }
  .feature-team .featureTeamTitle {
    position: relative; }
    .feature-team .featureTeamTitle h2 {
      color: #333;
      font-size: 40px;
      font-weight: 300;
      line-height: 50px;
      margin-bottom: 60px;
      text-align: center; }
    .feature-team .featureTeamTitle p {
      font-size: 24px;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      line-height: 36px;
      padding: 0 15px;
      background: #f5f5f5;
      position: relative; }
      .feature-team .featureTeamTitle p:before {
        position: absolute;
        left: 0;
        top: 17px;
        width: 38%;
        height: 2px;
        background: #DA4453;
        content: ''; }
      .feature-team .featureTeamTitle p:after {
        position: absolute;
        right: 0;
        top: 17px;
        width: 38%;
        height: 2px;
        background: #DA4453;
        content: ''; }
  .feature-team .featureTeamItem {
    position: relative;
    margin-top: 40px; }
    .feature-team .featureTeamItem img {
      width: auto;
      height: auto;
      margin-bottom: 15px; }
    .feature-team .featureTeamItem h3 {
      clear: both;
      color: #666;
      font-family: "Lato",sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 12px; }
    .feature-team .featureTeamItem p {
      font-size: 14px;
      font-weight: 400;
      color: #888;
      line-height: 24px; }

/*------------------------end feature team section----------------------*/
.DesignSlider {
  width: 100%;
  height: 100%;
  position: relative; }

.DesignHead {
  padding: 50px 0; }
  .DesignHead h2 {
    color: #0078ae;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -1px; }
  .DesignHead p {
    color: #5a6063;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    padding-top: 21px; }

.DesignSliderCon {
  height: 100%;
  padding: 40px 0;
  position: relative;
  width: 100%; }
  .DesignSliderCon h2 {
    color: #0fa2da;
    font-size: 45px;
    font-weight: 300; }
  .DesignSliderCon p {
    color: #5a6063;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    padding-top: 24px; }

.DeSliderConImage {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .DeSliderConImage img {
    width: 100%;
    height: 100%; }

.carousel-control.left, .carousel-control.right {
  background: transparent;
  display: inline-block; }

.DesignArrowRightCarosul1 {
  width: 60px;
  height: 128px;
  display: block;
  top: 33%; }
  .DesignArrowRightCarosul1:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/arrow-right.svg) no-repeat center center/cover; }

.DesignleftLeftCarosul1 {
  display: block;
  height: 128px;
  top: 33%;
  width: 128px; }
  .DesignleftLeftCarosul1:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/arrow-left.svg) no-repeat center center/cover; }

.DesignTab {
  padding: 50px 0; }

.TabMenu {
  width: 100%;
  height: 100%;
  position: relative; }
  .TabMenu ul {
    margin: 0;
    padding: 0;
    position: relative; }
    .TabMenu ul:before {
      background: transparent linear-gradient(to bottom, #d5d5d5 0, #ddd 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%) repeat scroll 0 0;
      content: "";
      height: 22px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 77px;
      width: 60%;
      z-index: 1; }
    .TabMenu ul li {
      display: inline-block;
      padding: 192px 0 0;
      position: relative;
      vertical-align: top;
      width: 33%;
      z-index: 2; }
      .TabMenu ul li a {
        color: #fff; }
        .TabMenu ul li a p {
          color: #0078ae;
          display: inline-block;
          font: 24px/1.1 roboto-bold-webfont,sans-serif;
          text-align: center; }
      .TabMenu ul li.active .DspanFirst strong {
        height: 176px;
        width: 176px; }
      .TabMenu ul li.active .DspanFirst em {
        background: #88ba00 none repeat scroll 0 0;
        color: #fff;
        height: 142px;
        line-height: 142px;
        width: 142px; }
      .TabMenu ul li.active p {
        color: #88ba00; }
      .TabMenu ul li.active .DeArrowIndecator {
        left: 50%; }
      .TabMenu ul li.active-1 .DeProgressIndecator {
        width: 66%; }
      .TabMenu ul li.active-0 .DeArrowIndecator.active {
        left: 34%; }

.DspanFirst {
  height: 176px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 176px; }
  .DspanFirst strong {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2) inset;
    content: "";
    height: 152px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 152px;
    z-index: 1; }
  .DspanFirst em {
    background: #0078ae none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #fff;
    font: 57px/118px roboto-bold-webfont, sans-serif;
    height: 118px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 118px;
    z-index: 2; }

.TabProgress {
  background: #0078ae none repeat scroll 0 0;
  border-radius: 4px;
  height: 17px;
  margin: 0 0 60px;
  position: relative; }

.DeProgressIndecator {
  background: #88ba00 none repeat scroll 0 0;
  border-radius: 4px;
  display: block;
  height: 17px;
  transition: width 0.4s ease 0s;
  width: 33.33%; }

.DeArrowIndecator {
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 16px solid #88ba00;
  height: 0;
  margin-left: -22px;
  position: absolute;
  top: 100%;
  transition: left 0.4s ease 0s;
  width: 0;
  left: 17%; }

.Pad45 {
  padding: 45px 0; }

.DesignSliderTwo {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #ddd;
  padding-bottom: 20px; }

.DesingSliderTwoHeading {
  padding: 50px 0; }
  .DesingSliderTwoHeading h2 {
    font-size: 55px;
    color: #0078ae;
    letter-spacing: -1px;
    font-weight: 600;
    text-align: center; }

.DesingSliderTwoImage {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .DesingSliderTwoImage img {
    width: 100%;
    height: 500px; }

.DesignSlideTwo .owl-prev {
  background: transparent url(../images/arrow-left.svg) no-repeat scroll center center/cover;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 130px;
  width: 60px; }
  .DesignSlideTwo .owl-prev i {
    font-size: 25px;
    margin-top: 14px; }

.DesignSlideTwo .owl-next {
  position: absolute;
  right: 33px;
  top: 130px;
  width: 60px;
  height: 60px;
  background: url(../images/arrow-right.svg) no-repeat center center/cover; }
  .DesignSlideTwo .owl-next i {
    font-size: 25px;
    margin-top: 14px; }

.DesignSlideTwo .owl-pagination {
  border-bottom: 3px solid #869791;
  height: auto;
  position: relative;
  width: 100%; }

.DesignSlideTwo .owl-page {
  border-right: 1px solid #ddd; }

.DesignSlideTwo .owl-theme .owl-controls .owl-buttons div {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #f7465b;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px;
  opacity: 1;
  padding: 7px 15px;
  transition: all 0.8s ease 0s; }

.DesignSlideTwo.owl-theme .owl-controls {
  margin-top: 43px;
  text-align: center; }
  .DesignSlideTwo.owl-theme .owl-controls .owl-page span {
    background: url(../images/icon.jpg) no-repeat center center/cover;
    border-radius: 20px;
    display: block;
    height: 52px;
    width: 146px;
    margin: 5px 7px;
    opacity: 1;
    position: relative;
    background-position: -36px 0; }
  .DesignSlideTwo.owl-theme .owl-controls .owl-page.active span::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 14px solid #0fa2da;
    content: "";
    left: 50%;
    margin-left: -20px;
    position: absolute;
    bottom: -28px; }
  .DesignSlideTwo.owl-theme .owl-controls .owl-page.active span:after {
    background: #0fa2da none repeat scroll 0 0;
    bottom: -14px;
    content: "";
    height: 3px;
    left: -7px;
    position: absolute;
    width: 162px; }

.DSliderThree .owl-controls .owl-page, .DSliderThree .owl-controls .owl-buttons div {
  cursor: pointer;
  display: inline-block; }

.DSliderThree .owl-prev {
  left: 13px;
  position: absolute;
  top: 170px; }
  .DSliderThree .owl-prev:hover {
    box-shadow: 0 3px 10px white, 3px 0 3px 0 rgba(0, 0, 0, 0.1); }
  .DSliderThree .owl-prev i {
    font-size: 60px;
    color: #60c1f0; }

.DSliderThree .owl-next {
  right: 13px;
  position: absolute;
  top: 170px; }
  .DSliderThree .owl-next:hover {
    box-shadow: 0 3px 10px white, -3px 0 3px 0 rgba(0, 0, 0, 0.1); }
  .DSliderThree .owl-next i {
    font-size: 60px;
    color: #60c1f0; }

.DSliderThree.owl-theme .owl-controls {
  margin: 10px 0 67px;
  text-align: center; }
  .DSliderThree.owl-theme .owl-controls .owl-buttons div {
    background: transparent; }
  .DSliderThree.owl-theme .owl-controls .owl-page span {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 24px;
    margin: 5px 12px;
    opacity: 0.5;
    width: 24px;
    border: 2px solid #ddd; }
  .DSliderThree.owl-theme .owl-controls .active span {
    border-color: #0fa2da;
    opacity: 1;
    position: relative; }
    .DSliderThree.owl-theme .owl-controls .active span:after {
      background: #0fa2da none repeat scroll 0 0;
      border-radius: 50%;
      bottom: 0;
      content: "";
      height: 12px;
      left: 1px;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 12px; }

.DiscusButtonSec {
  height: 100%;
  padding: 20px 0 80px;
  position: relative;
  width: 100%; }

.DiscusBtnCon {
  border: 1px solid #ddd;
  height: 100%;
  padding: 50px 92px;
  width: 100%;
  position: relative;
  border-radius: 4px; }
  .DiscusBtnCon:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #0fa2da; }
  .DiscusBtnCon h2 {
    color: #0fa2da;
    display: inline-block;
    font-size: 42px;
    font-weight: 700; }
  .DiscusBtnCon .DiscusBTn {
    background: #88ba00 none repeat scroll 0 0;
    border-radius: 9px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    height: 57px;
    margin-left: 42px;
    padding: 15px 43px;
    position: relative;
    text-transform: uppercase;
    width: 246px;
    display: inline-block;
    z-index: 999;
    overflow: hidden; }
    .DiscusBtnCon .DiscusBTn:before {
      position: absolute;
      content: '';
      width: 246px;
      height: 10px;
      border-radius: 9px;
      left: 0;
      top: 0;
      background: rgba(157, 211, 10, 0.4);
      transition: all ease 600ms;
      visibility: hidden;
      opacity: 0; }
    .DiscusBtnCon .DiscusBTn:hover:before {
      visibility: visible;
      opacity: 1;
      transition: all 0.25s cubic-bezier(0.66, 0.36, 0.17, 0.91);
      height: 57px;
      top: 57px; }
  .DiscusBtnCon > a > i {
    padding-left: 19px; }

.DPageSingup {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 2px solid #e8e8e8; }

.DePSingUpBtn {
  padding: 60px 0 0; }
  .DePSingUpBtn h2 {
    color: #0078ae;
    display: block;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px; }

.DePageInputGroup {
  position: relative;
  width: 100%;
  height: 100%; }

.DesignUpInput {
  background: #eee none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  height: 100%;
  padding: 10px 0 10px 28px;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.DesignUpBtn {
  background: #0fa2da none repeat scroll 0 0;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  padding: 12px 30px 11px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: all ease 600ms; }
  .DesignUpBtn:hover {
    background: #88ba00;
    color: #fff; }
  .DesignUpBtn i {
    font-size: 14px;
    padding-left: 8px; }

/*
-----------------------------clipping page layout----------------------*/
.clipSecService1 {
  position: relative;
  background: #fafafa;
  padding: 20px 0; }
  .clipSecService1 .secservWedMenu h2 {
    color: #0fa2da;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding-top: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative; }
    .clipSecService1 .secservWedMenu h2:before {
      width: 60px;
      height: 2px;
      background: #0fa2da;
      position: absolute;
      left: 0;
      top: 50px;
      content: '';
      margin: 0 auto; }
  .clipSecService1 ul li {
    display: block;
    padding: 10px 0; }
    .clipSecService1 ul li a {
      font-size: 15px;
      padding-top: 20px;
      color: #a3a3a3;
      text-transform: capitalize; }
      .clipSecService1 ul li a:hover {
        color: #E79800; }
  .clipSecService1 .secServwedCon h2 {
    color: #174873;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 0 20px;
    text-transform: none; }
  .clipSecService1 .secServwedCon p {
    color: #727272;
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 20px; }
  .clipSecService1 .secServwedCon .abPara {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px; }
  .clipSecService1 .secServwedCon h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px; }

/*-----------------------accordian---------------------*/
.collapHead {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  margin: 20px 0; }

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none; }

.panel:last-child {
  border-bottom: none; }

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0; }

.panel-group .panel {
  border-radius: 0; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel-heading {
  background-color: #009688;
  border-radius: 0;
  border: none;
  color: #333;
  padding: 0; }

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  background: #174873; }

.panel-body {
  background: #fff; }

#bs-collapse .panel-heading a:after {
  content: '\f106';
  font-size: 24px;
  position: absolute;
  font-family: 'fontawesome';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s; }

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s; }

/* #accordion rotate icon option */
#accordion .panel-heading a:before {
  content: '\f106';
  font-size: 24px;
  position: absolute;
  font-family: 'fontawesome';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s; }

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s; }

/*
mony reciption section*/
.PrtTitle h2 {
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 21px;
  margin: 20px 0; }

.singlePartner1 {
  width: 100%;
  height: auto;
  transform: scale(1); }
  .singlePartner1:hover {
    transform: scale(1.1) !important; }
  .singlePartner1 img {
    height: auto;
    width: 100%; }
  .singlePartner1 h2 {
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize; }
  .singlePartner1 p {
    color: #facc3d;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize; }

.shareMenu .entry-social {
  margin-bottom: 20px;
  margin-top: 40px;
  color: #7e7e7e;
  display: block;
  font-family: 'Open Sans',Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 23.799999237060547px;
  margin-bottom: 20px;
  width: 100%;
  width: 100%;
  float: left;
  border: solid 0px #aaa;
  text-align: center; }

.shareMenu .entry-social div {
  display: block;
  width: 120px;
  margin: 2px;
  display: inline-block; }

.shareMenu .entry-social a {
  text-decoration: none;
  display: block;
  padding-left: 20px;
  color: #FFFFFF !important;
  font-weight: bold;
  transition: background-color .3s; }

.shareMenu .entry-social .fb a {
  padding: 7px 10px 7px 26px;
  background: #3B5999 url("http://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png") no-repeat 10px center; }

.shareMenu .entry-social .twitter a {
  padding: 7px 10px 7px 32px;
  background: #01BBF6 url("http://3.bp.blogspot.com/-0u8P4VQmEeU/UeDlVdilwcI/AAAAAAAAAro/lGTnlvHGyVw/s1600/twitter14.png") no-repeat 8px center; }

.shareMenu .entry-social .gplus a {
  padding: 7px 10px 7px 32px;
  background: #D54135 url("http://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png") no-repeat 10px center; }

.shareMenu .entry-social .pinterest a {
  padding: 7px 10px 7px 32px;
  background: #CB2027 url("http://1.bp.blogspot.com/-v-ZkEQhYpug/UeDl6uIio-I/AAAAAAAAAsA/9rqq2cXT08k/s320/pinterest14.png") no-repeat 10px center; }

.shareMenu .entry-social .delicious a .entry-social .fb a:hover {
  background-color: #324b81; }

.shareMenu .entry-social .delicious a .entry-social .twitter a:hover {
  background-color: #019fd3; }

.shareMenu .entry-social .delicious a .entry-social .gplus a:hover {
  background-color: #bf3428; }

.shareMenu .entry-social .delicious a .entry-social .linkedin a:hover {
  background-color: #0f597d; }

.shareMenu .entry-social .delicious a .entry-social .pinterest a:hover {
  background-color: #ae1c23; }

.shareMenu .entry-social .delicious a .entry-social .delicious a:hover {
  background-color: #265aa8; }

/*--------------clipping path service------------*/
.clippingserviceContent h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0; }

.clippingserviceContent p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px; }

.clippingserviceContent .serviceQoute {
  padding: 0;
  margin: 0 0 0 30px; }
  .clippingserviceContent .serviceQoute li {
    list-style: square;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
