<!--start about sec-->
<section class="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="abImg">
                    <img src="./assets/images/education_bg.jpg" alt="">
                </div>
            </div>
            <div class="abContent">
                <h1>Welcome to <span>Webful Education!</span></h1>
                <h4>We are eager to give you best Education and style.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam feugiat mauris quis volutpat fermentum. Nunc nec
                    nisi vitae ipsum pharetra tincidunt. Nam vel purus dolor.
                    Aliquam erat volutpat. Donec laoreet iaculis elementum. 
                    Aliquam ligula nisi, molestie faucibus tortor quis, 
                    vulputate imperdiet turpis. In iaculis arcu et aliquam 
                    dapibus. Nulla facilisi.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam feugiat mauris quis volutpat fermentum. Nunc nec
                    nisi vitae ipsum pharetra tincidunt. Nam vel purus dolor.
                    Aliquam erat volutpat. Donec laoreet iaculis elementum. 
                    Aliquam ligula nisi, molestie faucibus tortor quis, 
                    vulputate imperdiet turpis. In iaculis arcu et aliquam 
                    dapibus. Nulla facilisi.
                </p>
                <a href="">meet our company</a>
            </div>
        </div>
    </div>
</section>
<!--end about sec-->