<section class="benefitSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow slideInUp">
                <div class="benefitsTitle text-center">
                    <h1>Throw away your worries and enjoy hiring</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_grow.png" alt="benefit">
                    <h3>Grows with your business</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_cloud.png" alt="benefit">
                    <h3>Access anywhere, anytime</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInRight">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_globe.png" alt="benefit">
                    <h3>Multiple languages</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInLeft">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_security.png" alt="benefit">
                    <h3>Top security & daily backup</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_employerbrand.png" alt="benefit">
                    <h3>Strong employer brand</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInRight">
                <div class="singleBenefit text-center">
                    <img src="./assets/images/benefits_icon_datadeletion.png" alt="benefit">
                    <h3>Scheduled data deletion</h3>
                    <p>Flexibility is everything to us. Whether you're a single headhunter 
                        or a company with 100.000 employees and multiple brands,
                        Emply adapts to your needs.</p>
                </div>
            </div>
        </div>
    </div>
</section>