<section class="benefitsListSec benefitSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="benefitsTitle text-center">
                    <h1>Save time and money on your hiring</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="mainbenefitList">
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem margin-bottom34">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="benelistItem">
                        <div class="benIcon">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="benContent">
                            <p>
                                <label>Enjoy effective administration</label> by having everything in one place. Members of your hiring 
                                teams will have all needed information at their fingertips.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>