<section class="benefits_featureflow benefitSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="benefitsTitle text-center">
                        <h1>Everything you need for hiring in one place</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="benefits_featureflowStep  text-center">
                    <div class="featureflowStep">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <p>plan and structure<br> your hirings</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="benefits_featureflowStep text-center">
                    <div class="featureflowStep">
                        <a href="">
                            <i class="fa fa-search"></i>
                            <p>publish ads to job<br> board & social media</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="benefits_featureflowStep text-center">
                    <div class="featureflowStep">
                        <a href="">
                            <i class="fa fa-comments-o"></i>
                            <p>hire top candidates<br> for your jobs</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="benefits_featureflowStep text-center">
                    <a href="">
                        <i class="fa fa-calendar"></i>
                        <p>screen, evaluate and<br> interview candidates</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>