<section class="featureMenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mainFeatureMenu">
                    <ul>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_planning.png" alt="">
                                <p>planning</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_sourcing.png" alt="">
                                <p>sourcing</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_interviewing.png" alt="">
                                <p>interviewing</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_hiring.png" alt="">
                                <p>hiring</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_reporting.png" alt="">
                                <p>reporting</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./assets/images/features_menu_features.png" alt="">
                                <p>key feature</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>