<section class="featureService1 featureService2" id="featureService4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft">
                <div class="featureSerImg">
                    <img src="./assets/images/Background-Removing.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight col-sm-6">
                <div class="featureSerContent">
                    <h2>Jewelry Retouching</h2>
                    <p>The process of jewelry photo editing is very crucial especially for those dealing with 
                        Jewelry business. Editing Jewelry images is not an easy task and it is more complex than 
                        editing any other images. Jewelry products are in demand and the dealers have to display 
                        their jewelry or the images of the jewelry, therefore these images has to look attractive <br>
                        and special before they reach your targeted customers. Many Jewelers or people dealing with 
                        artificial Jewelry need Jewelry Photo Editing Services for presenting their designs 
                        and products attractively and beautifully in front of their customers
                    </p>
                    <div class="serbt">
                        <a href="cliping_path_service_jewelry_retouching.html">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>