<section class="featureService1" id="featureService5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 wow slideInLeft">
                <div class="featureSerContent">
                    <h2>ecommerce images processing</h2>
                    <p>With the great demand of images for online promotion of any business, there is an 
                        increased demand for Photo Cut out Services. There are several things that a 
                        businessperson does not want to be shown in the pictures. Here comes the need of 
                        Product Image Cut Out Services.
                    </p>
                    <div class="serbt">
                        <a href="cliping_path_service_ecommerce_images_processing.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow slideInRight">
                <div class="featureSerImg">
                    <img src="./assets/images/ecommerce_Images_processing02.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>