<section class="featureService1 featureService2" id="featureService2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft">
                <div class="featureSerImg">
                    <img src="./assets/images/features_image_sourcing.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 margin-left50 wow fadeInRight">
                <div class="featureSerContent">
                    <h2>Attract candidates from<br> websites and social media</h2>
                    <p>Managing your hiring projects have never been this simple. Emply gives you a solid overview of your
                        candidates on each project and you can see how far you are in your process, without 
                        clicking away from the overview.<br><br>

                        Plan your next hire by inviting your hiring team to the project and give 
                        them individual tasks for each step of the process. Write different job ads targeted each media,
                        create job-related questions to be used later for faster screening of candidates and schedule 
                        upcomming interviews 
                        with top candidates and members from your hiring team. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>