<section class="feature-team" id="featureServiceTeam">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="featureTeamTitle">
                    <h2>Finally, a platform designed to drive amazing hiring results</h2>
                    <p>Project management</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_jobsAndTalentPools.png" alt="">
                    <h3>Jobs & talent pools</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_teamCollaboration.png" alt="">
                    <h3>Team collaboration</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_questionsForJob.png" alt="">
                    <h3>Questions for job</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_jobPosting.png" alt="">
                    <h3>Job posting</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_socialSharing.png" alt="">
                    <h3>Social sharing</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="featureTeamItem">
                    <img src="./assets/images/features_icon_candidateTraffic.png" alt="">
                    <h3>Candidate traffic</h3>
                    <p>Create new jobs and find talent just by making a quick search in one of your own talent pools.</p>
                </div>
            </div>
        </div>
    </div>
</section>