<section class="featureMenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="mainFeatureMenu">
                    <ul>
                        <li class="scrolls active">
                            <a href="#featureService1">
                                <img src="./assets/images/features_menu_planning.png" alt="">
                                <p>planning</p>
                            </a>
                        </li>
                        <li class="scrolls">
                            <a href="#featureService2">
                                <img src="./assets/images/features_menu_sourcing.png" alt="">
                                <p>sourcing</p>
                            </a>
                        </li>
                        <li class="scrolls">
                            <a href="#featureService3">
                                <img src="./assets/images/features_menu_interviewing.png" alt="">
                                <p>interviewing</p>
                            </a>
                        </li>
                        <li class="scrolls">
                            <a href="#featureService4">
                                <img src="./assets/images/features_menu_hiring.png" alt="">
                                <p>hiring</p>
                            </a>
                        </li>
                        <li class="scrolls">
                            <a href="#featureService5">
                                <img src="./assets/images/features_menu_reporting.png" alt="">
                                <p>reporting</p>
                            </a>
                        </li>
                        <li class="scrolls">
                            <a href="#featureServiceTeam">
                                <img src="./assets/images/features_menu_features.png" alt="">
                                <p>key feature</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>