<section class="featureService1" id="featureService5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 wow slideInLeft">
                <div class="featureSerContent">
                    <h2>Image Masking</h2>
                    <p>Expertwebwork offers you trial of 2 Clipping Path images to show you our outstanding 
                        quality, low cost, and speed of turnaround time. You can send us any type of file 
                        format such as TIF, EPS, JPG, PSD etc. We have FTP and Dropbox account to transfer
                        big size file.
                    </p>
                    <div class="serbt">
                        <a href="cliping_path_service_image_masking.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow slideInRight">
                <div class="featureSerImg">
                    <img src="./assets/images/image-masking-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>