<section class="featureService1 featureHide" id="featureService1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  wow slideInLeft col-sm-6">
                <div class="featureSerContent">
                    <h2 class="headline5">Complex clipping path</h2>
                    <p>Clipping path, in simple terms, refers to a close vector shape or a "cut out" pattern 
                        that is used in order to remove or displace the existing background of a selected image while still managing to keep the item in the file.<br><br>

                        We offers clipping path , image background removal service at very low rates. Compare our competitors and our quality level and you will be surprised. Why pay more for less?

                        The cost of handmade Clipping Path using pen tool ranges from $0.5 to $7. But the cost depends on the complexity of the images and the amount of images.
                    </p>
                    <div class="serbt">
                        <a href="cliping_path_service_for_image.html" class="btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 wow slideInRight">
                <div class="featureSerImg">
                    <img src="./assets/images/clipping-path-complex.jpg" alt="complex clipping path">
                    <img src="./assets/images/clipping-path-complex.png" alt="complex clipping path">
                </div>
            </div>
        </div>
    </div>
</section>