@media (min-width: 320px) and (max-width: 480px) {
    .headerTop{
        display: none;
    }
    #menu{
        display: none;
    }

    .headerMenu {
        padding: 16px 0;
        .logo1 img{
            width: 50%;
        }
        .MobileMenu1 {
            cursor: pointer !important;
            display: block;
            height: auto;
            line-height: 0.2;
            position: absolute;
            right: 23px;
            top: -22px;
            width: 30px;
            z-index: 9999;
        }
        .mainMenu ul{
            background: #111;
            padding: 10px;
            li {
                display:block;
                margin-right: 0;
                margin-top: 0;
                padding-bottom: 8px;
                text-align: left;
            }
            .sercIcon i{
                color: #fff;
            }
            .user1 i{
                color: #fff;
            }
            .submenu{
                left: 60px;
                top: 40px;
            }
            a{
                color: #fff;
            }

        }

    }
    .sliderSec{
        display: none;
    }
    .aboutUs{
        .abContent{
            h1 {
                font-size: 18px;
                line-height: 24px;
                margin: 12px 0;

            }
            h4{
                font-size: 13px;
            }
            p{
                font-size: 13px;
                line-height: 19px;
                text-align: justify;
            }
            a{

                font-size: 10px;
                margin-left: 5px;
                padding: 9px 17px;

            }
        }
    }
    .benefitSec {
        padding: 27px 0;
        .benefitsTitle h1 {
            color: #333;
            font-size: 26px;
            font-weight: 300;
            line-height: 31px;
            margin-bottom: 30px;
        }
        .singleBenefit{
            margin-bottom: 32px;
        }
        .singleBenefit h3{
            font-size: 15px;
        }
        .singleBenefit p{
            line-height: 20px;
        }
    }
    .mainFeatureMenu{
        display: none;
    }
    .benefitsListSec .mainbenefitList .benelistItem .benIcon i{
        font-size: 37px;
    }
    .benefitsListSec .mainbenefitList .benelistItem .benContent p {
        color: #888;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 26px;
    }
    .benefits_featureflow .featureflowStep::before {
        display: none;
    }
    .benefits_featureflow .benefits_featureflowStep a p {

        margin-bottom: 18px;

    }
    .featureService1{
        padding: 0;
    }
    .featureService1 .featureSerContent {
        padding-top: 20px;
        h2{
            color: #333;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            padding: 0 0 11px;
        }
        p{
            color: #777;
            font-size: 13px;
            line-height: 26px;
            padding-right: 0;
            margin-bottom: 5px;
            text-align: justify;
        }
    }
    .featureService1 .featureSerImg {
        height: auto;
        margin: 19px 0;
        width: 100%;
    }
    .margin-left50{
        margin-left: 0;
    }
    .feature-team {
        padding: 23px 0;
        .featureTeamTitle h2 {
            font-size: 24px;
            margin-bottom: 12px;
            line-height: 27px;
        }
        .featureTeamTitle p{
            font-size: 15px;
        }
        .featureTeamTitle p::after {
            width: 25%;
        }
        .featureTeamTitle p::before {
            width: 25%;
        }
    }
    .col-xs-4{
        width: 100%;
    }
    .leftWidget{
        margin-bottom: 20px;
    }
}

@media (min-width: 360px) and (max-width: 640px){
    .featureMenu{
        display: none;
    }
    .headerTop{
        display: none;
    }

    .featureMenu .mainFeatureMenu ul li a {
        color: #333;
        font-family: "Lato",sans-serif;
        font-size: 9px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .featureMenu .mainFeatureMenu ul li {
        box-shadow: 0 0 1px #ddd;
        display: inline-block;
        height: auto;
        list-style: outside none none;
        padding: 11px;
        text-align: center;
        width: 91px;
    }
    .featureMenufixed {
        box-shadow: 1px 0 3px #ddd;
        height: auto;
        left: 0;
        position: fixed;
        top: 67px;
        width: 100%;
        z-index: 1;
    }
}
@media (min-width: 484px) and (max-width:640px){
    .headerTop {
        background: #174873 none repeat scroll 0 0;
        height: auto;
        margin-top: 59px;
        padding: 0;
        position: relative;
        width: 100%;
    }
    #menu{
        display: none;
    }
    .headerMenu {
        padding: 12px 0;;
        .logo1 img {
            height: 100%;
            width: 50%;
        }
        .MobileMenu1 {
            top: -32px;
        }
        .mainMenu {
            ul{
                background: #111;
                padding: 10px;
                li {
                    display:block;
                    margin-right: 0;
                    margin-top: 0;
                    padding-bottom: 8px;
                    text-align: left;
                }
                .submenu{
                    left: 60px;
                    top: 40px;
                }
                a{
                    color: #fff;
                }
            }
        }

        .aboutUs .abContent a {
            background: #174873 none repeat scroll 0 0;
            border-radius: 4px;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            margin-left: 2px;
            padding: 15px 20px;
            text-transform: uppercase;
            transition: all 500ms ease 0s;
        }
        .featureMenu {
            background: #fafafa none repeat scroll 0 0;
            display: none !important;
            height: auto;
            width: 100%;
        }
        .benefits_featureflow .featureflowStep::before {
            display: none;
        }
        .benefits_featureflow .benefits_featureflowStep a p {

            margin-bottom: 18px;
        }
        .featureService1 {
            height: auto;
            padding: 10px;
            position: relative;
            width: 100%;
        }
        .featureService1 .featureSerContent {
            padding-top: 10px;
            position: relative;
        }
        .featureService1 .featureSerContent h2 {
            padding-bottom: 0;
            font-size: 32px;
        }
        .featureService1 .featureSerContent p {
            color: #777;
            font-size: 13px;
            line-height: 26px;
            padding-right: 0px;
            margin-bottom: 19px;
        }
        .featureService1 .featureSerImg img {
            padding: 12px 0;
        }
        .feature-team .featureTeamTitle h2 {
            font-size: 32px;
            margin-bottom: 22px;
        }
        .feature-team .featureTeamTitle p::after {
            width: 25%;
        }
        .feature-team .featureTeamTitle p::before {
            width: 25%;
        }
    }
}


@media (min-width: 768px) and (max-width:1024px){
    .headerTop {
        background: #174873 none repeat scroll 0 0;
        display: none;
        height: auto;
        padding: 10px 0;
        position: relative;
        width: 100%;
    }
    .headerMenu{
        .logo1{
            width: 50%;
            display: inline-block;
        }
        .logo1 img{
            width: 100%;
            margin-bottom: 20px;
        }
        .mainMenu ul li {
            .submenu{
                left: 20%;
            }

        }
    }
    .sliderSec{
        padding-top: 150px;
    }

    .aboutUs .abContent1 h1{
        color: #174873;
        font-size: 33px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        margin-bottom: 20px;
        span{
            color: #E79800;

        }
    }
    .aboutUs .abContent h1 {
        color: #174873;
        display: none;
        font-size: 33px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
    }
    .benefitSec{
        padding: 20px 0 !important;
        overflow: hidden;
        .benefitsTitle h1{
            font-size: 29px !important;
            margin-bottom: 10px !important;
        }
        .singleBenefit {
            margin-bottom: 15px !important;
        }
    }
    .benefits_featureflow .benefits_featureflowStep a p{
        margin-bottom: 17px;
    }
    .benefits_featureflow .featureflowStep::before {
        display: none;
    }
    .featureMenu {

        .mainFeatureMenu ul li{
            width: 70px;
            height: auto;
            padding: 12px;
            margin-right: 20px;
            a{
                font-size: 12px;
                img{
                    width: 50px;
                    height: auto;
                }

            }
        }

    }
    .featureHide{
        display: none;
    }
    .featureMenu .mainFeatureMenu ul li {
        height: auto;
        margin-right: 20px;
        padding: 12px;
        width: 96px;
    }
    .featureMenufixed {

        top: 168px !important;

    }
    .featureService1{
        padding: 40px;
        .featureSerContent{
            padding-top: 0px !important;
            h2{
                font-size: 26px;
                line-height: 34px;
                margin-bottom: -25px !important;
            }
            p{
                padding-right: 0;
                margin-bottom: 12px;
            }
        }
        .featureSerImg{
            margin-bottom: 12px;
        }

    }
    .margin-left50 {
        margin: 0;
    }
    .featureService1 .featureSerImg img {
        height: auto;
        width: 100%;
    }
    .feature-team{
        padding: 40px 0;
        .featureTeamTitle{
            h2{
                font-size: 30px;
                margin-bottom: 20px !important;
            }
            p{
                font-size: 22px;
                &:before{
                    width: 28%;
                }
                &:after{
                    width: 28%;
                }
            }
        }
    }
    .featureMenufixed {
        top: 151px;
    }
    .footer{
        .leftWidget{
            margin-bottom: 20px;
        }
    }
    .footerBootm{
        .foBottmcont p{
            font-size: 13px;
        }
        .mainMenu.footerMenu ul li a{
            font-size: 13px;
        }
    }
}
@media(min-width:1021px) and (max-width: 1199px){

}