@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  outline-style: none; }

nav, ul, li, a, h1, h2, h3, h4, h5, h6, table, tr, td, p, span, label {
  margin: 0;
  list-style: none;
  padding: 0; }

/*=====================================
/CommonSec
======================================*/
/*========================
/Margin & Padding Setting Start here
==========================*/
.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.noPaddingLeft {
  padding-left: 0 !important; }

.noPaddingRight {
  padding-right: 0 !important; }

.noMargin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.noMarginLeft {
  margin-left: 0 !important; }

.noMarginRight {
  margin-right: 0 !important; }

.margin-bottom34 {
  margin-bottom: 34px; }

.margin-left50 {
  margin-left: 50px; }

/*========================
/Margin & Padding Setting End here 
==========================*/
