/*===================start Top header===========*/
.headerTop {
  position: relative;
  width: 100%;
  height: auto;
  background: #174873;
  padding: 10px 0; }

.mainItemHeader {
  margin-left: 78px; }

.headerInfo {
  position: relative; }
  .headerInfo p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: .5px; }
    .headerInfo p i {
      font-family: "fontAwesome"; }
      .headerInfo p i span {
        font-weight: 400 !important;
        font-family: 'Open Sans', sans-serif; }

.headerInformation {
  position: relative;
  float: left;
  margin-right: 10px; }
  .headerInformation i {
    color: #fff; }
    .headerInformation i span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: .5px; }

.headerInformation.headerInformation1 {
  position: relative; }
  .headerInformation.headerInformation1 i {
    margin-right: 5px; }

/*-----------------------header top end-----------*/
/*-----------------------header menu start-----------*/
.headerMenu {
  position: relative;
  padding: 26px 0; }

.logo1 {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .logo1 img {
    width: 100%;
    height: 100%; }

.mainMenu {
  position: relative; }
  .mainMenu ul li {
    display: inline-block;
    margin-right: 14px;
    margin-top: 9px;
    padding-bottom: 8px; }
    .mainMenu ul li a {
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      color: #174873;
      text-decoration: none;
      transition: all ease 600ms;
      -moz-transition: all ease 600ms;
      -webkit-transition: all ease 600ms;
      -o-transition: all ease 600ms;
      padding-bottom: 10px; }
      .mainMenu ul li a:hover {
        color: #E79800;
        border-bottom: 2px solid #E79800; }
  .mainMenu ul li:last-child {
    margin-right: 0 !important; }

/*===========================end header menu=======================*/
/*===========================start footer=======================*/
.footer {
  position: relative;
  width: 100%;
  padding: 50px 0 70px;
  background: url(../images/footer.jpg) no-repeat center center/cover; }
  .footer:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: rgba(0, 0, 0, 0.9); }

.leftWidget {
  position: relative; }
  .leftWidget h2 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 32px;
    position: relative; }
    .leftWidget h2:before {
      width: 40px;
      height: 3px;
      background: #fff;
      content: '';
      position: absolute;
      left: 0;
      top: 37px; }
  .leftWidget p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 24px; }

.fowidgetmenu {
  position: relative;
  float: left;
  margin-right: 42px; }
  .fowidgetmenu a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms; }
    .fowidgetmenu a:hover {
      color: #E79800; }
