<!DOCTYPE Html>
<html>
    <head>
        <title>Write Tamplate title here</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="html,css,js,xml,bootstrap">
        <meta name="Author" content="Shagor">
        <meta name="description" content="this is our project class and HW">

        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.theme.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/preset.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <!--start header menu-->
        <section class="headerTop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="headerInfo">
                            <p>Question? <i class="fa fa-phone"> <span>123-123-1234</span> </i></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="mainItemHeader">
                            <div class="headerInformation">
                                <i class="fa fa-envelope">&nbsp;<span>youremail@site.com</span></i>
                            </div>
                            <div class="headerInformation">
                                <i class="fa fa-clock-o">&nbsp;<span>Monday - Friday : 10:00-17:00</span></i>
                            </div>
                            <div class="headerInformation headerInformation1">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end header top-->
        <!--start header menu-->
        <section class="headerMenu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo1">
                            <a href=""><img src="./assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3">
                        <nav class="mainMenu text-right">
                            <ul>
                                <li><a href="">home</a></li>
                                <li><a href="">pages</a></li>
                                <li><a href="">course</a></li>
                                <li><a href="">ours taff</a></li>
                                <li><a href="">events</a></li>
                                <li><a href="">shop</a></li>
                                <li><a href="">blog</a></li>
                                <li><a href="">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!--end header menu-->

        <!--start footer-->
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="leftWidget">
                            <h2>About Us</h2>
                            <p>We are very proud to announce that since 1986 we are spreading
                                awesomness to our community and we have helped a lot people 
                                to shape their better future and life! I hope we are doing 
                                best we can. If you have any kind of questions please call
                                me.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="leftWidget">
                            <h2>quick links</h2>
                            <div class="fowidgetmenu">
                                <a href="">collage life</a>
                                <a href="">students</a>
                                <a href="">transport</a>
                            </div>
                            <div class="fowidgetmenu">
                                <a href="">join our events</a>
                                <a href="">collage</a>
                                <a href="">policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end footer-->

        <!-- All JS Files --> 
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>  
    </body>
</html>