<!DOCTYPE Html>
<html>
    <head>
        <title>{{page.title}}</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="html,css,js,xml,bootstrap">
        <meta name="Author" content="Shagor">
        <meta name="description" content="this is our project class and HW">

        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/animate.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/preset.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/responsive.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <!--start header menu-->
        <section class="headerTop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-md-4">
                        <div class="headerInfo">
                            <p>Question? <i class="fa fa-phone"> <span>123-123-1234</span> </i></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 col-sm-9 col-md-8">
                        <div class="mainItemHeader">
                            <div class="headerInformation">
                                <i class="fa fa-envelope">&nbsp;<span>youremail@site.com</span></i>
                            </div>
                            <div class="headerInformation">
                                <i class="fa fa-clock-o">&nbsp;<span>Monday - Friday : 10:00-17:00</span></i>
                            </div>
                            <div class="headerInformation headerInformation1">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end header top-->
        <!--start header menu-->
        <section class="headerMenu">
            <div class="hMenu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="logo1">
                                <a href="index.html"><img src="./assets/images/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-lg-offset-1 col-md-9 " >
                            <div class="MobileMenu1 hidden-lg hidden-md hidden-sm">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="mainMenu text-right" id="menu">

                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="clipping_image_about.html">About Us</a>
                                        <ul class="submenu">
                                            <li><a href="">page1</a></li>
                                            <li><a href="">page2</a></li>
                                            <li><a href="">page3</a></li>
                                            <li><a href="">page4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="cliping_path_services.html">Services</a>
                                        <ul class="submenu">
                                            <li><a href="cliping_path_service_for_image.html">Clipping Path</a></li>
                                            <li><a href="cliping_path_service_background_remove.html">Background Remove</a></li>
                                            <li><a href="cliping_path_service_shadowing.html">Shadowing</a></li>
                                            <li><a href="cliping_path_service_neck_joint.html">Neck Joint</a></li>
                                            <li><a href="cliping_path_service_image_masking.html">Image Masking</a></li>
                                            <li><a href="cliping_path_service_jewelry_retouching.html">Jewelry Retouching</a></li>
                                            <li><a href="cliping_path_service_ecommerce_images_processing.html">E-commerce Images Processing</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="how_to_clipping_path_service.html">How</a></li>
                                    <li><a href="cliping_path_services_pricing.html">Pricing</a></li>
                                    <li><a href="">Trial</a></li>
                                    <li><a href="">FAQ</a></li>
                                    <li><a href="">contact</a></li>
                                    <li class="sercIcon"><i class="fa fa-search srec"></i></li>
                                    <li class="user1"><i class="fa fa-user user"></i></li>

                                </ul>
                                <div class="sercbar">
                                    <input type="text" name="search" class="serText" placeholder="search">
                                </div>
                                <div class="userBox">
                                    <label class="usern">user name</label>
                                    <input type="text" name="name" class="uname" placeholder="user name"><br>
                                    <label class="usern">password</label>
                                    <input type="password" name="name" class="uname upass" placeholder="password"><br>
                                    <div class="usBtn">
                                        <a href="#">log in</a>
                                        <a href="#">sign up</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end header menu-->

        {{content}}

        <!--start footer-->
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInLeft">
                        <div class="leftWidget">
                            <h2>About Us</h2>
                            <p>We are very proud to announce that since 1986 we are spreading
                                awesomness to our community and we have helped a lot people 
                                to shape their better future and life! I hope we are doing 
                                best we can. If you have any kind of questions please call
                                me.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="mainwid">
                            <div class="leftWidget">
                                <h2>Services</h2>
                                <ul class="officehour">
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                </ul>
                            </div>
                            <div class="leftWidget leftWidget22">

                                <ul class="officehour">
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                    <li>Services 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="leftWidget">
                            <h2>quick links</h2>
                            <div class="ppp">
                                <div class="fowidgetmenu">
                                    <a href="">collage life</a>
                                    <a href="">students</a>
                                    <a href="">transport</a>
                                </div>
                                <div class="fowidgetmenu">
                                    <a href="">join our events</a>
                                    <a href="">collage</a>
                                    <a href="">policy</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInRight">
                        <div class="footerRightWidget">
                            <div class="FooIcon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="addInfo">
                                <h4>address</h4>
                                <p>132 Jefferson Avenue, Suite 22, Redwood City, CA 94872, USA</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="footerRightWidget">
                            <div class="FooIcon FooIcon1">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="addInfo">
                                <h4>phone</h4>
                                <p>123-123-1234</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="footerRightWidget">
                            <div class="FooIcon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="addInfo">
                                <h4>email</h4>
                                <p>apms@microtech.com</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="headerInformation footericon">
                            <label>Social:</label>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-google"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--footer end -->

        <!--footer bottom start-->
        <footer class="footerBootm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-4 col-sm-4">
                        <div class="foBottmcont">
                            <p>2017 <a href="">microtechna</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-8 col-sm-8">
                        <nav class="mainMenu footerMenu text-right ">
                            <ul>
                                <li><a href="">home</a></li>
                                <li><a href="">join our event</a></li>
                                <li><a href="">about us</a></li>
                                <li><a href="">blog</a></li>
                                <li><a href="">course</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        <!--end bottom-->

        <!-- All JS Files --> 
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/wow.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>  
    </body>
</html>