---
layout: default
---

<section class="clipSecService1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="secservWedMenu">
                    <h2>usefull link</h2>
                    <ul>
                        <li><a href="cliping_path_service_for_image.html">Clipping Path</a></li>
                        <li><a href="cliping_path_service_background_remove.html">Background Remove</a></li>
                        <li><a href="cliping_path_service_shadowing.html">Shadowing</a></li>
                        <li><a href="cliping_path_service_neck_joint.html">Neck Joint</a></li>
                        <li><a href="cliping_path_service_image_masking.html">Image Masking</a></li>
                        <li><a href="cliping_path_service_jewelry_retouching.html">Jewelry Retouching</a></li>
                        <li><a href="cliping_path_service_ecommerce_images_processing.html">E-commerce Images Processing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                {{content}}
            </div>
        </div>
    </div>
</section>



