---
layout: default
---

<section class="clipSecService1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="secservWedMenu">
                    <h2>usefull link</h2>
                    <ul>
                        <li><a href="#">Automotive Parts & System</a></li>
                        <li><a href="#">Construction & Engineering</a></li>
                        <li><a href="#">Power & Energy</a></li>
                        <li><a href="#">Ship Building Industry</a></li>
                        <li><a href="#">Railway</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                {{content}}
            </div>
        </div>
    </div>
</section>



